.Display {
  background: #000000;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}
