@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Share Tech Mono';
}

.App {
  height: 400px;
  width: 300px;
  background: #ebebeb;
  position: relative;
}
